@use '@/style/import-design' as *;

.content-title {
  font-size: 2.4rem;
  // margin-top: 28px;
  margin-bottom: 14px;

  span {
    width: 100%;
    font-weight: 700;
    display: block;
  }
}
.content-sub-title {
  font-size: 1.6rem;
}

.form-label{
  font-size:1.4rem;
  margin-bottom:8px;
  display:inline-block;
}
.form-box{
  padding-bottom:16px;
  .v-label{
    font-size:1.4rem;
  }
  input{
    // padding:8px 16px;
    height:46px;
    color:$black;
    font-size:1.4rem;
    text-indent:2px;
    border-radius:8px;
    border:1px solid $gray_300;
    &:focus{
      box-shadow:$shadow_black; 
    }
  }
}

.btn{
  &.order-btn{
    width:100%;
    background:#FF1744;
    text-align:center;
    height: 54px;
    color: #fff;
    &:disabled{
      background:$gray_300;
      color:$gray_600;
    }
  }
  &.plus-btn, &.minus-btn{
    width:30px; height:30px;
    font-size:2.0rem;
    font-weight:600;
    border:1px solid $gray_300;
    &:disabled{
      color:$gray_600;
    }
  }
}
