#content{
  @apply flex h-full;
  .order-area{
    @apply flex flex-col w-[75%] border-r-1 relative;
    .order-header{
      @apply flex justify-between items-center px-16 py-16 sticky left-0 top-0 bg-white shadow-sm;
      .logo{
        @apply w-[15%] h-full flex justify-center items-center text-[#111];
      }
      .nav{
        @apply flex items-center w-[85%];
        > ul{
          @apply flex justify-start items-center px-20 w-full;
          li{
            @apply text-center w-1/5 rounded-full;
            button{
              @apply w-full py-8 text-[#111];
              &:hover{
                @apply text-red-600 font-bold;
              }
            }
          }
        }
      }
    }
    .menu-list{
      overflow-y:overlay; height:calc(100vh - 72px);
      @apply px-32 py-32 flex flex-wrap;
      /* > div{
        @apply flex flex-col;
      } */
      .list-area{
        @apply flex flex-row flex-wrap justify-start;
        /* @apply flex flex-row flex-wrap; */
        .list{
          @apply rounded-xl overflow-hidden border-1 cursor-pointer mb-16 mr-32 w-[calc(25%-26px)];
          &:nth-child(4n){
            @apply mr-0;
          }
          &:nth-last-child(-n+4){
            @apply mb-0;
          }
          .img{
            @apply w-full overflow-hidden flex justify-center items-center bg-gray-100;
            > img{
              @apply w-full;
            }
          }
          .menu-info{
            @apply items-center justify-center px-16 py-8;
            .menu-name{
              @apply mb-4 text-[2.0rem] font-normal;
              small{
                @apply flex text-gray-400 text-[1.4rem] font-normal;
              }
            }
          }
        }
      }
    }
    .content-footer{
      @apply flex flex-row flex-wrap justify-between  items-center w-full px-32 py-26 bg-white border-t-1;
      .menu-title{
        > h2{
          @apply text-[2.6rem] font-bold;
        }
      }
      .pagination-btn{
        @apply flex justify-center items-center;
        > a{
          @apply flex justify-center items-center w-130 h-60 text-[#111] text-[1.8rem]  font-bold border-1 border-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0;
          &:first-child{
            @apply rounded-xl mr-16;
            > i{
              margin-right:6px;
              margin-top:4px
            }
          }
          &:last-child{
            @apply rounded-xl;
            > i{
              margin-left:6px;
              margin-top:4px;
            }
          }
        }
      }
    }
  }
  .my-order{
    @apply w-[25%] relative flex flex-col;
    .order-title{
      @apply bg-white h-72 flex justify-start items-center p-16 shadow-sm;
      > h2{
        @apply text-[2.6rem] font-bold;
      }
    }
    .order-items{
      padding:16px; height:calc(100vh - 191px); overflow-y:scroll;
      > ul{
        @apply flex flex-col h-full;
        > li{
          @apply flex flex-col justify-between border-b-1 py-12;
          .order-name{
            @apply flex justify-between;
            > div button{
              @apply border-1 w-30;
            }
            input[type=number]{
              @apply w-50 text-center;
            }
          }
          &:last-child{
            border-bottom:none;
          }
        }
      }
    }
    .order-button{
      @apply w-full border-t-1;
      .order-count{
        @apply flex justify-end p-16;
        > p{
          @apply text-[2.0rem] flex justify-end ml-16;
          > span b{
            @apply ml-16
          }
        }
      }
      > button{
        @apply bg-red-500 w-full text-white p-16;
      }
    }
  }
}
