// color_hex
$white:#fff;
$green:#19ce60;
$gray:#E0E0E0;
$black:#111;

// color_rgba
$shadow_black:rgba(56,63,70,0.06) 0px 2px 2px 0px;


//color level
$gray_600:#9E9E9E;
$gray_500:#BDBDBD;
$gray_400:#E0E0E0;
$gray_300:#eee;
$gray_200:#F5F5F5;
$gray_100:#FAFAFA;
